.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px 0;
  background-color: #4b4b4b;
}

.expense-item__description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
  flex-flow: column-reverse;
  justify-content: flex-start;
  flex: 1;
}

.expense-item__h2 {
  font-size: 20px;
  flex: 1;
  margin: 0 10px;
  color: #f2f2f2;
}

.expense-item__price {
  font-size: 15px;
  font-weight: bold;
  color: #f2f2f2;
  background-color: rgb(10, 16, 45);
  border: 1px solid #f2f2f2;
  padding: 5px;
  border-radius: 15px;
}

@media (min-width: 580px) {
  .expense-item__description {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
  }

  .expense-item__price {
    font-size: 20px;
    padding: 5px 20px;
  }
}
