.new-expense__controls {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 15px;
  text-align: left;
}

.new-expense__control label {
  color: #f2f2f2;
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}

.new-expense__control input {
  font: inherit;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #f2f2f2;
  width: 350px;
  max-width: 100%;
}

.new-expense__actions {
  text-align: right;
}

.new-expense__button {
  font: inherit;
  cursor: pointer;
  padding: 15px 30px;
  border: 1px solid blueviolet;
  background-color: gray;
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
}

.new-expense__button:hover,
.new-expense__button:active {
  background-color: rgb(10, 16, 45);
  border-color: blueviolet;
}

.new-expense__button.alternative {
  color: rgb(10, 16, 45);
  border-color: transparent;
  background-color: transparent;
}

.new-expense__button.alternative:hover,
.new-expense__button.alternative:active {
  background-color: #f2f2f2;
}
