.new-expense__controls {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 15px;
  text-align: left;
}

.new-expense__control label {
  color: #f2f2f2;
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}

.new-expense__control input {
  font: inherit;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #f2f2f2;
  width: 350px;
  max-width: 100%;
}

.new-expense__actions {
  text-align: right;
}
