@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Source Code Pro", monospace;
}

body {
  margin: 0;
  background-color: #4b4b4b;
}
