@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Source Code Pro", monospace;
}

body {
  margin: 0;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255) 0%,
    rgb(10, 16, 45) 20%,
    rgb(10, 16, 45) 80%,
    rgb(255, 255, 255) 100%
  );
}
