.card {
  border-radius: 15px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.8);
  animation: card-appears 0.75s ease-out forwards;
}

@keyframes card-appears {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
